<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" content="text/html">
    {#    <meta http-equiv="refresh" content="1" >#}
    <title>TEST</title>
    {% load static %}
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
</head>
<body>
<h1>hello~ </h1>
<h2>
    {{ name }} </br>
    Local Time : {{ t }}
</h2>
<p></p>
{#<script src="/static/jquery-3.6.0.js"></script>#}
<script src="{% static 'jquery-3.6.0.js' %}"></script>
<script>
    $('h1').css('color', 'red')
</script>

</body>
</html>