{% load my_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TEST Page</title>
    {% load my_tags %}
</head>
<body>
    <h1>{{ name }}</h1>
    <h1>{{ name|safe }}</h1>
    <h1>{{ age|add:2 }}</h1>
    <h1>{{ l }}</h1>
    <h1>{{ dic }}</h1>
    <h1>{{ l.9|default:'haha' }}</h1>
    <h1>{% if name.length > 2 %}</h1>
        <h1> >2 </h1>
        <h1>{% else %}</h1>
        <h1><2</h1>
        <h1>{% endif %}</h1>
    <h1>{{ age|filter_multi:3 }}<br></h1>
    <h1>{% filter_simple_tag 1 2 3 %}</h1>
</body>
</html>